@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", Arial, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.video-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #ccc;
  /*This draws a gray line above the video that separates the video sections*/
}

.video-section:first-child {
  border-top: none;
  /*This removes this gray line from the first line of the video and directs it down*/
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumbnail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*This section adds a timestamp to the image e. the right corner adds the clock time to how long the video is*/
.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: aliceblue;
  right: 5px;
  bottom: 5px;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 0.9em;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #aaaaaa;
  /*This gray color is because if the page is still loading the image then the background is a beautiful gray base*/
}

.video-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1rem;
}

.channel-icon {
  margin-right: 0.75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaaaaa;
  /*Page loading background if no image has been loaded yet*/
}

.video-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}

.video-channel-name {
  margin-bottom: 0.1rem;
  text-decoration: none;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  /*This changes the color change rate as you move the text with the mouse*/
}

.video-channel-name:hover {
  color: #111111;
}

.video-channel-name,
.video-metadata {
  color: #555555;
}

.video-section-title {
  grid-column: 1 /-1;
  /*This puts a title in the Second section where there is also a close button on one line, no matter how big we make the screen*/
  margin: -0.5rem 0;
  /*Makes the title gap smaller*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*This line pushes the X button to the right corner */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
}

.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555555;
  cursor: pointer;
}

.videos {
  background-color: #f9f9f9;
}

/*This is where the menu or the buttons starts*/
.categories {
  padding: 1rem 2rem;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.category-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /*This cuts the corner of the button at the end*/
}

.categories a {
  color: #111111;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 900px;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: backround-color 150ms;
  transition: backround-color 150ms;
}

.category:hover {
  background-color: #dddddd;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #eeeeee;
}

.category:last-child {
  margin-right: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.gert-logo {
  height: 75px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 2rem 0 4rem;
  /*This gives extra space to the logo and search field*/
}

.search-input {
  width: 100%;
  font-size: inherit;
  padding: 0.4em;
  /*Space for text in the search box*/
  border: 1px solid #777777;
  border-top-right-radius: 0;
  /*So that the search logo and the box are the same size*/
  border-bottom-right-radius: 0;
}

.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25rem;
  /*This now puts the search button on one line with the search bar*/
  border: 1px solid #777777;
  background-color: #f8f8f8;
  border-left: none;
  /*We remove the box from both fields in the shopping bar and around the icon*/
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #f0f0f0;
}

.menu-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  /*This puts the icons on one line*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.menu-channel-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaaaaa;
}

a:link {
  text-decoration: none;
}

/*This removes the Search bar when the page is minimized*/
@media (max-width: 720px) {
  .search-bar {
    display: none;
  }
}

/* This is where the style of the second page begins */
@media (max-width: 720px) {
  .container {
    padding: 1rem;
  }
  .container {
    background-color: #ffffff;
    display: -ms-grid;
    display: grid;
    padding-left: 40px;
    padding-right: 40px;
    grid-gap: 0.2rem;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[auto];
        grid-template-rows: repeat(auto, 1fr);
        grid-template-areas: "main" "sidebar" "comment";
  }
}

@media only screen and (min-width: 721px) {
  .container {
    height: 100px;
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1em;
    -ms-grid-columns: 1.4fr 0.6fr;
        grid-template-columns: 1.4fr 0.6fr;
    -ms-grid-rows: 0.7fr 0.3fr;
        grid-template-rows: 0.7fr 0.3fr;
        grid-template-areas: "main sidebar" "comment sidebar";
  }
}

main {
  padding: 10px 20px 20px 20px;
  background-color: #ffffff;
  grid-area: main;
  grid-auto-rows: minmax(100px, auto);
}

#sidebar {
  padding: 20px;
  background-color: #ffffff;
  grid-area: sidebar;
  grid-auto-rows: minmax(100px, auto);
}

#comment {
  padding: 10px 20px 20px 40px;
  background-color: #ffffff;
  grid-area: comment;
  grid-auto-rows: minmax(100px, auto);
}

.card-text {
  padding: 20px;
  padding-top: 0;
  background-color: #ffffff;
}

.card-title {
  top: 0;
  bottom: 0;
}

h3 {
  padding: 20px;
  padding-bottom: 0;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.007px;
}

.esimene {
  padding: 20px;
}

a:link {
  text-decoration: none;
}

.side {
  padding: 0;
}
/*# sourceMappingURL=main.css.map */